{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver", 
      {
        "root": ["./"],
        "alias": {
          "test": "./test",
          "helpers": "./src/helpers"
        }
      }
    ]
  ]
}